astroid
attrs
autopep8
cattrs
dill
docstring-to-markdown
exceptiongroup
flake8
importlib-metadata
isort
jedi
lsprotocol
mccabe
packaging
parso
platformdirs
pluggy
pycodestyle
pydocstyle
pyflakes
pylint
python-lsp-jsonrpc
python-lsp-ruff
python-lsp-server
pytoolconfig
rope
ruff
snowballstemmer
tomli
tomlkit
typing_extensions
ujson
whatthepatch
yapf
zipp
