export SQL_WAREHOUSE="1234"
export USER_EMAIL=s.n@abc.com
export IS_TOKEN_AUTH="Y"
export DATABRICKS_HOST="<db host url>"
export DATABRICKS_HOSTNAME="<db host url>"
export DATABRICKS_TOKEN="<db token>"
export CORE_CATALOG_NAME="<catalog name>"
export CORE_SCHEMA_NAME="<schema name>"
export DEV_USER_PREFIX="<a prefix for resource isolation>"



